*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* HOME */

.table-header {
    background-color: #007bff;
    color: white;
}
.table tbody tr:hover {
    background-color: #f1f1f1;
}


.errorMessage{
    color: red;
}
